In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
!wget https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv

--2021-11-23 05:21:03--  https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4115852 (3.9M) [text/plain]
Saving to: ‘RegularSeasonCompactResults.csv’

RegularSeasonCompac 100%[===================>]   3.92M  --.-KB/s    in 0.04s

2021-11-23 05:21:03 (111 MB/s) - ‘RegularSeasonCompactResults.csv’ saved [4115852/4115852]

In [ ]:
!head RegularSeasonCompactResults.csv

Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
1985,20,1228,81,1328,64,N,0
1985,25,1106,77,1354,70,H,0
1985,25,1112,63,1223,56,H,0
1985,25,1165,70,1432,54,H,0
1985,25,1192,86,1447,74,H,0
1985,25,1218,79,1337,78,H,0
1985,25,1228,64,1226,44,N,0
1985,25,1242,58,1268,56,N,0
1985,25,1260,98,1133,80,H,0

In [ ]:
df = pd.read_csv("RegularSeasonCompactResults.csv")

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [ ]:
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [ ]:
print(df.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
print(df.tail())

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145289 entries, 0 to 145288
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Season  145289 non-null  int64
 1   Daynum  145289 non-null  int64
 2   Wteam   145289 non-null  int64
 3   Wscore  145289 non-null  int64
 4   Lteam   145289 non-null  int64
 5   Lscore  145289 non-null  int64
 6   Wloc    145289 non-null  object
 7   Numot   145289 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.9+ MB
None

In [ ]:
print(df.describe())

              Season         Daynum  ...         Lscore          Numot
count  145289.000000  145289.000000  ...  145289.000000  145289.000000
mean     2001.574834      75.223816  ...      64.497009       0.044387
std         9.233342      33.287418  ...      11.380625       0.247819
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2002.000000      78.000000  ...      64.000000       0.000000
75%      2010.000000     103.000000  ...      72.000000       0.000000
max      2016.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

In [ ]:
print(df.max())

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [ ]:
print(df.min())

Season    1985
Daynum       0
Wteam     1101
Wscore      34
Lteam     1101
Lscore      20
Wloc         A
Numot        0
dtype: object

In [ ]:
!wget https://i.cbc.ca/1.5256404.1566499707!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_940/cat-behaviour.jpg

--2021-11-23 06:03:19--  https://i.cbc.ca/1.5256404.1566499707!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_940/cat-behaviour.jpg
Resolving i.cbc.ca (i.cbc.ca)... 95.100.137.158
Connecting to i.cbc.ca (i.cbc.ca)|95.100.137.158|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33709 (33K) [image/jpeg]
Saving to: ‘cat-behaviour.jpg’

cat-behaviour.jpg   100%[===================>]  32.92K  --.-KB/s    in 0.004s

2021-11-23 06:03:19 (8.97 MB/s) - ‘cat-behaviour.jpg’ saved [33709/33709]

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
df.Wteam

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [ ]:
df.Wteam[0:5]

1228

In [ ]:
print(df.Wteam)
print(df.Wteam.max())
print(df.Wteam[0])
print(df.Wteam[0:5])
print(df.Wteam[0:5].max())

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64
1464
1228
0    1228
1    1106
2    1112
3    1165
4    1192
Name: Wteam, dtype: int64
1228

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)
print(df)

mask = pd.Series([True, False, True, False])
print(df[mask])

df.loc[mask, 'BBB'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [ ]:
import numpy as np

a = np.arange(6)
mask = np.array([0,0,0,1,1,1])
print(a*mask)

[0 0 0 3 4 5]

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)
print(df)

mask = np.array([0,2])
print(df.loc[mask])

df.loc[mask, 'BBB'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)
print(df)
print(df.AAA)
print(df.AAA>5)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
0    4
1    5
2    6
3    7
Name: AAA, dtype: int64
0    False
1    False
2     True
3     True
Name: AAA, dtype: bool

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.loc[df.AAA%2==0, 'CCC'] = 0
print(df)

   AAA  BBB  CCC
0    4   10    0
1    5   20   50
2    6   30    0
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.loc[df.AAA%2==1, 'CCC'] = df.CCC*2
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20  100
2    6   30  -30
3    7   40 -100

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.loc[ (df.AAA>=5) & (df.BBB<40), 'BBB'] = -1
# AAA >=5 그리고 BBB <40 ---> BBB -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

t = df[df.AAA>5]
print(t)
t.AAA = -1
print(t)
print(df)

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
2   -1   30  -30
3   -1   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
a = np.arange(6)
a[a>3] = -1
print(a)

[ 0  1  2  3 -1 -1]

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.loc[df.AAA%2==0, ['BBB', 'CCC']] = -1
print(df)

   AAA  BBB  CCC
0    4   -1   -1
1    5   20   50
2    6   -1   -1
3    7   40  -50

In [ ]:
a = [0,1,2,3,4]
if 3 in a:
  print("existed")

existed

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.AAA.isin([4,5,6])

0     True
1     True
2     True
3    False
Name: AAA, dtype: bool

In [ ]:
# AAA가 4또는 7일 경우 BBB 컬럼을 0 으로 변환

df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.loc[df.AAA.isin([4,7]), 'BBB'] = 0
print(df)

   AAA  BBB  CCC
0    4    0  100
1    5   20   50
2    6   30  -30
3    7    0  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df[df.index%2==0]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df['abs_CCC'] = df['CCC'].abs()
print(df)

   AAA  BBB  CCC  abs_CCC
0    4   10  100      100
1    5   20   50       50
2    6   30  -30       30
3    7   40  -50       50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

# df['S'] = df.AAA + df.BBB
df['S'] = df['AAA'] + df['BBB']
# df.S = df['AAA'] + df['BBB']  # ERROR

print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":["남", "여", "", "여"],
     "CCC":[100,50,-30,-50]}
)

def encode(BBB):
  if BBB=="남": return 1
  if BBB=="여": return 0
  return -1

df['BBB_encoded'] = df[['BBB']].applymap(encode)
print(df)

new_df = df.drop(columns="BBB")
print(new_df)
print(df)

df.drop(columns="BBB", inplace=True)
print(df)

None
   AAA  CCC  BBB_encoded
0    4  100            1
1    5   50            0
2    6  -30           -1
3    7  -50            0

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":["남", "여", "", "여"],
     "CCC":[100,50,-30,-50]}
)

df.drop(columns="BBB", inplace=True)
print(df)

df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":["남", "여", "", "여"],
     "CCC":[100,50,-30,-50]}
)

df.drop(columns=["BBB", "CCC"], inplace=True)
print(df)

   AAA  CCC
0    4  100
1    5   50
2    6  -30
3    7  -50
   AAA
0    4
1    5
2    6
3    7

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.drop(1, inplace=True)
print(df)

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
3    7   40  -50

KeyError: ignored

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.drop([1,2], inplace=True)
print(df)

   AAA  BBB  CCC
0    4   10  100
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df.drop(df[df.AAA%2==0].index, inplace=True)
print(df)

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

AAA    2
BBB    2
CCC    2
dtype: int64

```
numpy로 0~1 랜덤한 값을 10개 만들고

10개의 값을 가지는 r 컬럼의 dataframe을 만들고

five_r이라는 r 컬럼에 5배 곱한 컬럼을 새로 만들고

이를 정수화 한 값의 cat 이라는 이름의 컬럼을 만든다.

cat외의 모든 컬럼을 삭제한다.
```

In [ ]:
import numpy as np
import pandas as pd

a = np.random.rand(10)
# print(a)

df = pd.DataFrame({"r":a})
# print(df)

df['five_r'] = df.r*5
# print(df)

df['cat'] = df.five_r.astype(np.int16)
# print(df)

df.drop(columns=["r", "five_r"], inplace=True)
print(df)

   cat
0    0
1    4
2    1
3    2
4    3
5    2
6    2
7    2
8    3
9    1

In [ ]:
df = pd.DataFrame(
    {"AAA":[4,5,6,7],
     "BBB":[10,20,30,40],
     "CCC":[100,50,-30,-50]}
)

df['float_AAA'] = df.AAA.astype(np.float)
print(df)

df.drop(columns="AAA", inplace=True)
print(df)

df.rename(columns={"float_AAA":"AAA"}, inplace=True)
print(df)

   AAA  BBB  CCC  float_AAA
0    4   10  100        4.0
1    5   20   50        5.0
2    6   30  -30        6.0
3    7   40  -50        7.0
   BBB  CCC  float_AAA
0   10  100        4.0
1   20   50        5.0
2   30  -30        6.0
3   40  -50        7.0
   BBB  CCC  AAA
0   10  100  4.0
1   20   50  5.0
2   30  -30  6.0
3   40  -50  7.0

In [ ]:
!wget https://github.com/bharathirajatut/sample-excel-dataset/raw/master/airline.xls

--2021-11-24 05:36:51--  https://github.com/bharathirajatut/sample-excel-dataset/raw/master/airline.xls
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/bharathirajatut/sample-excel-dataset/master/airline.xls [following]
--2021-11-24 05:36:51--  https://raw.githubusercontent.com/bharathirajatut/sample-excel-dataset/master/airline.xls
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16384 (16K) [application/octet-stream]
Saving to: ‘airline.xls’

airline.xls         100%[===================>]  16.00K  --.-KB/s    in 0s

2021-11-24 05:36:51 (49.7 MB/s) - ‘airline.xls’ saved [16384/16384]